.AddPlayer__input {
	width: 200px;
	height: 30px;
	font-size: 17px;
	line-height: 17px;
	outline: 0;
	margin-left: 40px;
	margin-top: 30px;
}

.AddPlayer__submit {
	width: 90px;
	height: 30px;
	font-size: 17px;
	line-height: 17px;
	margin-left: 5px;
	cursor: pointer;
	background: rgb(93, 173, 238);
}